<%- include("./partials/header.ejs") %>
<div class="container-fluid">
    <a href="/" class="home-link">Contractor Ratings</a>
    <div class="class" id="login-anchor-container">
        <a href="/login" class="login-button">Login</a>
    </div>
    <div class="class" id="register-anchor-container">
        <a href="/register" class="login-button">Register</a>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
