<%- include("./partials/header.ejs") %>
<div class="container-fluid">
    <div class="home-container">
        <div class="row" id="home-row">
            <a href="/" id="home-title">Blue Spotlight</a>
        </div>
        <div class="row" id="description-row">
            <p id="description">Blue Spotlight is the meeting ground for contractors and those in need of work done at their home. Contractors can upload their profile to connect with the market, and the public can share their experiences to help find the best contractors out there.</p>
        </div>
        <div class="row" id="button-row">
            <div class="anchor-container" id="login-anchor-container">
                <a href="/login" class="anchor-button">Login</a>
            </div>
            <div class="anchor-container" id="register-anchor-container">
                <a href="/register" class="anchor-button">Register</a>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
