<%- include("./partials/header.ejs") %>
<div class="container-fluid">
    <a href="/" class="home-link">Contractor Ratings</a>
    <h1>Login</h1>
    <form id="login-form" action="/login" method="POST">
        Username:<input type="text" name="username"/>
        Password:<input type="password" name="password"/>
        <button type="submit">Submit</button>
        <%= incorrectlogin %>
    </form>
</div>
<%- include("./partials/footer.ejs") %>