<%- include("./partials/header.ejs") %>
<div class="container-fluid">
    <div class="registration-container">
        <a href="/" class="home-link">Blue Spotlight</a>
        <div class="background-layer">
            <form id="register-form" action="/register" method="POST">
                <h1 id="register-header">Register</h1>
                Name:<input type="text" name="name"/><br/>
                Username:<input type="text" name="username"/><br/>
                Email:<input type="text" name="email"/><br/>
                Account Type:<select name="contractor">
                        <option value="yes">Contractor</option>
                        <option value="no">Reviewer</option>
                    </select><br/>
                Password:<input type="password" name="password"/><br/>
                <button class="submit-button" type="submit">Submit</button>
                <%= duplicate %>
            </form>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>