/* HOME PAGE */

.container-fluid{
    height: 100vh;
    padding: 0 !important;
    justify-content: center;
}

.home-container{
    background-image: url("../images/workshop.jpg");
    height: 100%;
    background-size: cover;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
}

.row{
    justify-content: center;
}

#home-row{
    background-color: rgb(0, 73, 184);
    width: 40%;
    margin: 0 auto;
}

#home-title{
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

#description-row{
    background-color: rgba(0, 73, 184, 0.5);
    width: 50%;
    margin: 30px auto 0 auto;
    padding: 20px;
}

#description{
    text-align: center;
    color: white;
    margin: 0px;
}

.anchor-container{
    margin: 20px;
    padding-top: 7px;
    height: 40px;
    width: 85px;
    background-color: white;
}

.anchor-button{
    color:rgb(0, 73, 184);
    text-decoration: none !important;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

#home-title:hover{
    text-decoration: none;
    color: white
}



/* REGISTRATION PAGE */

.registration-container{
    background-image: url("../images/machinery-sparks.jpg");
    height: 100%;
    background-size: cover;
}

.background-layer{
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    padding-top: 150px;
}

.submit-button{
    color:rgb(0, 73, 184);
    text-decoration: none !important;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

#register-form{
    background-color: rgba(0, 73, 184, .4);
    padding: 10px 20px 20px 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    width: 40%;
    margin: 0 auto 10px auto;
}

#register-header{
    margin-bottom: 10px;
}

input{
    margin-bottom: 20px !important;
    margin-left: 15px !important;

}

select{
    margin-bottom: 20px !important;
    margin-left: 15px !important;
    color: rgb(0, 73, 184)
}

.home-link{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(0, 73, 184);
    padding: 7px 15px 7px 15px;
    position: absolute;
    left: 0;
}

.home-link:hover{
    text-decoration: none;
    color: white
}

/* LOGIN PAGE */

.login-container{
    background-image: url("../images/wood-work.jpg");
    height: 100%;
    background-size: cover;
    overflow: auto;
}

#login-form{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px 20px 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgb(0, 73, 184);
    width: 40%;
    margin: 150px auto 10px auto;
}

#login-header{
    margin-bottom: 10px;
    color: rgb(0, 73, 184);
}

/* CONTRACTOR INDEX */








textarea{
    width: 400px;
    height: 400px;
}
h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.hidden-info{
    display:none;
    visibility: hidden;
}

