/* HOME PAGE */

.container-fluid{
    height: 100vh;
    padding: 0 !important;
    justify-content: center;
}

.home-container{
    background-image: url("../images/workshop.jpg");
    height: 100%;
    background-size: cover;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
}

.row{
    justify-content: center;
}

#home-row{
    background-color: rgb(51, 99, 172);
    width: 40%;
    margin: 0 auto;
}

#home-title{
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

#description-row{
    background-color: rgba(51, 99, 172, 0.5);
    width: 50%;
    margin: 30px auto 0 auto;
    padding: 20px;
}

#description{
    text-align: center;
    color: white;
    margin: 0px;
}

.anchor-container{
    margin: 20px;
    padding-top: 7px;
    height: 40px;
    width: 85px;
    background-color: white;
}

.anchor-button{
    color:rgb(51, 99, 172);
    text-decoration: none !important;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

#home-title:hover{
    text-decoration: none;
    color: white
}



/* REGISTRATION PAGE */

.registration-container{
    background-image: url("../images/machinery-sparks.jpg");
    height: 100%;
    background-size: cover;
}

.background-layer{
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    padding-top: 120px;
}

.submit-button{
    text-decoration: none !important;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

#register-form{
    background-color: rgba(51, 99, 172, .4);
    padding: 10px 20px 20px 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    width: 40%;
    margin: 0 auto 10px auto;
}

#register-header{
    margin-bottom: 10px;
}

input{
    margin-bottom: 20px !important;
    margin-left: 15px !important;
    margin-top: 10px !important;
}

input::-webkit-input-placeholder {
    font-size: 12px;
}

input::-moz-placeholder { /* Firefox 19+ */
    font-size: 12pt; 
}
input:-ms-input-placeholder { /* IE 10+ */
    font-size: 12pt; 
}
input:-moz-placeholder { /* Firefox 18- */
    font-size: 12pt;
}

select{
    margin-bottom: 20px !important;
    margin-top: 10px !important;
    color: rgb(51, 99, 172);
    font-family: 'Raleway', sans-serif !important;
}

.home-link{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(51, 99, 172);
    padding: 7px 15px 7px 15px;
    position: absolute;
    left: 0;
}

.home-link:hover{
    text-decoration: none;
    color: white
}

/* LOGIN PAGE */

.login-container{
    background-image: url("../images/wood-work.jpg");
    height: 100%;
    background-size: cover;
    overflow: auto;
}

#login-form{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px 20px 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgb(51, 99, 172);
    width: 40%;
    margin: 150px auto 10px auto;
}

#login-header{
    margin-bottom: 10px;
    color: rgb(51, 99, 172);
}

/* CONTRACTOR INDEX */

.user-home-container{
    background-image: url("../images/kitchen.jpg");
    height: 100%;
    background-size: cover;
    overflow: auto;
}

.text-container{
    text-align: center;
    margin: 100px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.651);
    width: 50%;
    padding: 10px;
}

#contractor-index-header{
    color: rgb(51, 99, 172)
}

.contractor-index-description{
    color: black

}

#profile-anchor-container{
    background-color: rgb(51, 99, 172);
    width: 175px;
    text-align: center;
    margin-top: 30px;

}

#profile-button{
    color: white
}

#review-anchor-container{
    background-color: rgb(51, 99, 172);
    width: 175px;
    text-align: center;
    margin-top: 5px;
    padding: 5px;

}

#review-button{
    color: white;
    font-family: 'Raleway', sans-serif;
}

#review-button:hover{
    color: white;
    text-decoration: none;
}

/* NAV BAR */

.navbar-brand{
    color: rgb(51, 99, 172) !important;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

.navbar-toggler{
    border-color: rgb(51, 99, 172) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 99, 172, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

.nav-link{
    color: rgb(84, 144, 235) !important;
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover{
    color: rgb(51, 99, 172) !important;
}

#log-out-button{
    color: rgb(84, 144, 235) !important;
    background-color: rgb(248, 249, 251);
    border: none;
    font-family: 'Raleway', sans-serif;
    margin: 8px 0 !important;
    padding: 0 !important;
}

#log-out-button:hover{
    color: rgb(51, 99, 172) !important;
}

#contractor-nav-none{
    display: none;
}

#contractor-nav-show{
}

#reviewer-nav-none{
    display: none;
}

#reviewer-nav-show{
}

/* CONTRACTOR PROFILE */

.user-home-container{
    background-color: white;
    height: 100%;
    background-size: cover;
    overflow: auto;
}

#name-container{
    margin-top: 100px;
}

#welcome-header{
    color: rgb(51, 99, 172);
    font-family: 'Raleway', sans-serif;
}

#stats-container{
    display: block;
    margin-top: 10px;
}

#rating{
    color: rgb(51, 99, 172);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.edit-anchor-container{
    background-color: rgb(51, 99, 172);
    width: 175px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    justify-content: center;
}

#edit-button{
    color: white;
}

#see-reviews-anchor-container{
    background-color: rgb(51, 99, 172);
    width: 175px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

#see-reviews-anchor{
    color: white;
}

#see-reviews-anchor{
    color: white;
    text-decoration: none;
}

.profile-photo{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-size: cover;
}

#contractor-profile-photo{

}


/* EDIT CONTRACTOR PROFILE */

.edit-profile-container{
    background-image: url("../images/worker-in-house.jpg");
    height: 100%;
    background-size: cover;
}

.edit-form{
    background-color: rgba(51, 99, 172, .6);
    padding: 10px 20px 20px 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    width: 40%;
    margin: 0 auto 0 auto;
}


/* REVIEWER INDEX */

#profile-button{
    color: white;
    font-family: 'Raleway', sans-serif;
}

#profile-button:hover{
    text-decoration: none;
    color: white
}

#reviewer-text-container{
    margin-top: 160px;
}

/* CONTRACTOR SUBMITTED REVIEWS */

#your-reviews-header{
    color: rgb(51, 99, 172);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}

#edit-review-anchor{
    color: white;
    font-family: 'Raleway', sans-serif;
}

#edit-review-anchor:hover{
    color: white;
    text-decoration: none;
}

#review-stream-edit-container{
    margin: 10px auto 0 auto
}

#review-stream-container{
    text-align: center;
    padding: 0 60px;
}

.review-subject-box{
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 99, 172);
    font-size: 30px;
}

.review-rating-box{
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 99, 172);
    font-size: 20px;
    margin-bottom: 60px;
}

.review-description-box{
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 15px;
    width: 100%;
    word-wrap: break-word;
}

.col-6{
    padding: 0 30px !important;
    margin-bottom: 80px;
    text-align: center;
}

#contractor-edit-review-button-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding-right: 28px;
}

#your-reviews-header{
    color: rgb(51, 99, 172);
}

#user-review-stream-rating-box{
    margin-bottom: 0 !important;
}

/* EDIT REVIEW */

#edit-header-container{
    margin-top: 80px;
}

#edit-review-header{
    color: rgb(51, 99, 172);
}

#name-edit-header{
    color: rgb(51, 99, 172);
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#edit-review-container{
    text-align: center;
}

.delete-button{
    text-decoration: none !important;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

#submit-edit-review{
    margin: 0 20px;
}

#cancel-edit-review{
    margin: 0 20px;

}

/* REVIEW INDEX */

#col-review-stream{
    padding: 0 !important;
    justify-content: center;
    text-align: center;
}

.subject-anchor{
    /* color: rgb(51, 99, 172) */
}

.subject-anchor:hover{
    text-decoration: none;
    color: rgb(51, 99, 172)
}

#write-review-button-container{
    position: absolute;
    bottom: 0;
}


#write-review-anchor{
    color: white;
    font-family: 'Raleway', sans-serif;
}

#write-review-anchor:hover{
    color: white;
    text-decoration: none;
}

#write-review-stream-edit-container{
    margin: 10px auto 0 auto;
    position: absolute;
}

#submit-review{
    margin: 15px !important;
}

#cancel-review{
    margin: 15px !important;
}

#profile-photo-link{
    height: 100%;
    width: 100%;
    display: block;
}

/* CONTRACTOR REVIEW STREAM */

#profile-left{
    padding-top: 100px !important;
}
#profile-right{
}

#name-info-row{
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 99, 172);
    font-size: 20px;
    margin: 120px 0 0 0;
}

#contact-info{
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 99, 172);
    font-size: 20px;
    margin: 10px 0 10px 0;
}

#name-info{
    font-size: 30px;
    margin: 0 !important;
}

#contractor-review-stream-header-container{
    margin: 80px 0 10px 0;
}

#contractor-review-stream-header{
    color: rgb(51, 99, 172);
    font-size: 40px;
}

#contractor-review-stream-rating-container{
    /* padding: 20px; */
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 99, 172);
    font-size: 20px;
    margin: 150px 0 10px 0;

}

#rating-and-description-row{
    margin-top: 60px;
    margin-bottom: 30px;
}

#rating-in-stream{
    color: rgb(51, 99, 172);
    font-size: 22px;  
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#description-in-stream{
    color: black;
    font-size: 15px;  
    text-align: left;
    word-wrap: break-word;
}

#reviewer-profile-link-container{

}

.reviewer-profile-link{
    font-size: 22px;
}

#author-in-stream{
}

#review-button-container{
    margin-bottom: 50px;
}

#profile-information{
    display: block;
}

#contractor-contact-info{
}


/* GENERAL */

textarea{
    width: 400px;
    height: 400px;
}
h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.hidden-info{
    display:none;
    visibility: hidden;
}
