<%- include("../partials/header.ejs") %>
<div class="container-fluid">
<%- include("../partials/navbar.ejs") %>
    <div class="user-home-container">
        <div class="text-container" id="reviewer-text-container">
            <h1 id="contractor-index-header">Reviewers</h1>
            <p class="contractor-index-description">Welcome! With access to Blue Spotlight's contractor profiles, you'll be able to find the contractor that works for you through word of mouth from the market. To begin your search, click the Find Contractors button below. If you have worked with a contractors, leave a review about them.</p>
        </div>
        <div class="row" id="profile-button-container">
            <div class="anchor-container" id="profile-anchor-container">
                <a href="/reviewers/<%=reviewer._id%>" id="profile-button">See Profile</a>
            </div>
        </div>
        <div class="row" id="review-button-container">
            <div id="review-anchor-container">
                <a href="/reviews" id="review-button">Find Contractors</a>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>